* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 500px;
  border: solid black;
}

.container > * {
  width: 75%;
}

.addWord {
  margin-bottom: 100px;
  margin-top: 100px;
  display: flex;
  gap: 10px;
}

input {
  height: 30px;
  padding-left: 10px;
}

.addWord > input {
  flex-grow: 2;
}

button {
  flex-grow: 1;
}

.container > input {
  margin-bottom: 20px;
}

.wordsNum {
  background-color: rgb(248, 250, 252);
  height: 100px;
  border-radius: 5%;
}
